body {
    background-image: url("Table Background.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
    display: none;
}

#reset {
    width: 20vw;
    margin: 0 auto;
}